{% extends 'films/base.html' %}
{% block title %}Create user{% endblock %}
{% block content %}
<div class="container">
</div>
<form method="post" class="form-reg" style="position: absolute; bottom: 40%; width: 30%; left: 50%; transform: translateX(-50%);">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label><br>
        {{form.username}}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label><br>
        {{form.email}}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label><br>
        {{form.password1}}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label><br>
        {{form.password2}}<br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}